<div class="row">
    <div class="col-xs-12">
      <form  >
        <h3>Add Product</h3>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text"
                     id="name"
                     
                     class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="name">Type</label>
                    <select type="select"
                       id="name"
                       
                       class="form-control">
                        <option>aaa</option>
                    </select>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="name">Manufacturer</label>
                <select type="select"
                id="name"
                
                class="form-control">
                 <option>aaa</option>
             </select>
              </div>
            </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea
                id="description"
                class="form-control"
                
                rows="6"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="name">Year</label>
                <input type="text"
                       id="name"
                       
                       class="form-control">
              </div>
            </div>
          </div>

        <div class="row">
          <div class="col-xs-3">
            <div class="form-group">
              <label for="price">Price</label>
              <span style="float: right"> VNĐ</span>
              <input type="text"
                     id="price"
                     
                     class="form-control">
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]=""
              style="margin-right: 4px">Save
            </button>
            <button type="button"
                    class="btn btn-danger"
                    mat-button mat-dialog-close
                    >
                    Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  